version: "3.9"

services:
  postgres:
    image: postgres:alpine
    container_name: my_postgres
    restart: always
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
      POSTGRES_DB: cms
    ports:
      - "5432:5432"
    volumes:
      - postgres_vol:/var/lib/postgresql/data

volumes:
  postgres_vol:
